*{
 padding:0;
 margin:0;
 background-color: bisque;
 }
 
.img{
 background-image: url('images/devlopin.jpg');  
 background-size: cover; 
 background-repeat: no-repeat;
 height:100vh;   
 opacity: .9;
 /* background-position: center; */
 position:relative;
}

.text span:first-child{
                  font-size:70px;
                  position: absolute;
                  top:100px;
                  left:180px;
                  color:red;
                  background-color:transparent;
}
.text span:nth-child(2){
                  font-size:50px;
                  position: absolute;
                  top:120px;
                  left:270px;
                  text-transform: uppercase;
                  font-weight: bold;
                  color:red;
                  background-color:transparent;

}
.text span:nth-child(3){
                  font-size:80px;
                  position: absolute;
                  top:170px;
                  left:180px;
                  text-transform: uppercase;
                  font-weight: bold;
                  color:white;
                  background-color:transparent;


}
.text1{
                  background-color: inherit;
}
.section2{
padding:50px 40px;
text-align: center;
background-color: black;
}
.section2 span{
                  color:white;
                  text-transform: capitalize;
                  font-size:3em;
                  background-color: inherit;
                  

}
.text1 span:nth-child(2){
                  font-size:5em;
                  text-transform: capitalize;
                  color:red;
                  background-color: inherit;
}
.row{
                  display:flex;
                  margin:100px 200px;
                  
                  
            
                  
}
img{
                  width: 100%;
                  border-top-left-radius: 10%;
                  border-top-right-radius: 10%;

}
.column{
               margin:10px auto;;
               
               width:24%; 
               background-color:cyan;
               border-top-right-radius: 9%;
               border-top-left-radius: 9%;

               line-height: 20px;
               box-shadow: 2px 2px 3px gray;
               border : 1px solid gray;
               transition:all 1s;
}
.column h3{
                  padding-top: 18px;
                  text-align: center;
                   font-size:1.5em;
                   color:rgb(25, 10, 10);
                   background-color: inherit;
 }
.column:hover{
                  transform: scale(1.2,1.2);
                  background-color: black;
                  color:white;

}
.column:hover h3{
                 
                  color:red;
                  
}
.column p{
                  padding: 15px 25px;
                  text-align: justify;
                  background-color: inherit;
}
.three{
                  display: flex;
                 
}
.footer{
                  
                  
                  padding:50px;
                  text-align: center;
                  
}
.footer span{
                  
                  font-size:3em;
                  text-transform:uppercase;
                  color:aliceblue;
                  background-color: inherit;
                


}
.footer p{
                  padding:20px 15px;
                  color:rgb(8, 9, 10);
                  text-align: justify;
                  background-color: inherit;
}
.fone{
                  background-color: chocolate;
}
.ftwo{
                  background-color:rgb(198, 48, 48);
}
footer{
                  height:100px;
                  background-color: black;
                  text-align: center;
                  color:white;
                  margin:0;
                  line-height: 100px;
                  letter-spacing: 9px;
}
footer h1{
                  background-color: inherit;
}
/* .img1{
                  background-image: url('images/codes.jpg');
                  background-size: cover; 
 background-repeat: no-repeat;
 height:50vh;   
 opacity: .2;
 background-position: center;
 background-attachment: fixed;
 position:relative;
} */